body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
blockquote,
figure,
pre {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    background-color: #eeeeee;
}

/* Utils */
.util-margin-text {
    margin: 10px 0;
}

.util-gray-background {
    background-color: #f5f5f5;
}
/* End utils */

/* For email container */
.email-container {
    width: 100%;
    max-width: 600px;
    /* Fallback for clients that support max-width */
    margin: 0 auto;
    background-color: #ffffff;
}

/* Header */
.header {
    position: relative;
    font-size: 0px;
    margin: 0;
    padding: 0;
}

.header-image {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* End header */

/* Footer */
.footer-mandarin {
    background-color: #fc4c02;
    text-align: center;
    margin-bottom: 10px;
}

.footer-logo {
    margin: 0 auto;
    display: block;
}

.footer-copyright {
    font-size: 11px;
    color: #646869;
    text-align: center;
    background-color: #f5f5f5;
    margin-bottom: 10px;
}

.footer-copyright a {
    color: #646869;
    text-decoration: underline;
}

.footer-copyright span {
    display: block;
}

/* End footer */

/* Content */
.content-wrapper {
    width: 93%;
    max-width: 560px;
    /* Fallback for clients that support max-width */
    margin: 0 auto;
}

.content-wrapper tr div {
    margin-bottom: 20px;
}

.main-content {
    position: relative;
    z-index: 2;
}

.secondary-card {}

.main-thumb {
    width: 100%;
}

.card-heading,
.card-content-heading {
    font-size: 17px;
    font-weight: bold;
}

.card-source,
.card-content-source {
    font-size: 12px;
    color: #b2b2b2;
    font-style: italic;
}

.creative {
    width: 60%;
    margin-top: 5px;
    height: 5px;
}

.creative-main {
    width: 40%;
}

.main-post-cards,
.secondary-post-cards {
    margin-bottom: 20px;
}

.secondary-post-cards td {
    vertical-align: top;
    width: 50%;
}

.secondary-post-cards td.gap {
    width: 0px;
    padding-left: 10px;
}

.main-card-thumb {
    width: 100%;
}

.card-description {
    font-size: 13px;
}

.card-link {
    text-decoration: none;
    color: black;
}

.card-link:hover .card-heading {
    text-decoration: underline;
}

/* End content */

/* Requirement on some email clients */
.ExternalClass {
    width: 100%;
}

.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td {
    line-height: 100%;
}

/* End requirement on some email clients */